@keyframes blinkCursor {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0.2;
    }
}

.animate-blink {
    animation: blinkCursor 0.5s step-end infinite;
}

@keyframes cursorOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

.cursorOut {
    animation: cursorOut 1s cubic-bezier(0.4, 0, 0.2, 1) 1;
}